.card {
    margin: 2px;
    padding: 2px;
    color: white;
}


/* li {
    list-style-type: none;
    margin: 1px;
    border: 0.5px;
    border-style: solid;
    border-color: lightslategrey;
    padding: 2px;
    background-color: white;
} */